<div id="<%= dom_id journal_line %>">
  <p>
    <strong>Journal:</strong>
    <%= journal_line.journal_id_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= journal_line.account_id_id %>
  </p>

  <p>
    <strong>Debit cents:</strong>
    <%= journal_line.debit_cents %>
  </p>

  <p>
    <strong>Credit cents:</strong>
    <%= journal_line.credit_cents %>
  </p>

</div>
