<%= form_with(model: journal) do |form| %>
  <% if journal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :journal_date, style: "display: block" %>
    <%= form.date_field :journal_date %>
  </div>

  <div>
    <%= form.label :journal_narration, style: "display: block" %>
    <%= form.text_field :journal_narration %>
  </div>

  <div>
    <ul>
      <%= form.fields_for :journal_lines do |lines_form| %>
        <li>
          <%= lines_form.label :account_id %>
          <%= lines_form.collection_select :account_id, Account.order(:account_type, :account_name), :id, :account_name %>
          <%= lines_form.label :debit %>
          <%= lines_form.text_field  :debit %>
          <%= lines_form.label :credit %>
          <%= lines_form.text_field  :credit %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
