<tr>
  <td colspan="2"><%= journal.journal_date %></td>
  <td colspan=3><%= journal.journal_narration %></td>
</tr>

<% journal.journal_lines.each do |line| %>
  <tr>
    <td></td>
    <td colspan="2"><%= line.account.account_name %></td>
    <td style="text-align: right; font-family: ui-monospace"><%= line.debit_cents.nil? || line.debit_cents.zero? ? "&nbsp;".html_safe : line.debit.format %></td>
    <td style="text-align: right; font-family: ui-monospace"><%= line.credit_cents.nil? || line.credit_cents.zero? ? "&nbsp;".html_safe : line.credit.format %></td>
  </tr>
<% end %>

