<h1>Reports</h1>
<hr/>
<%= params %>
<hr/>
<%= form_with method: :post do |form| %>
  <%= form.label :report_date %>
  <%= form.date_field :report_date %>
  <%= form.radio_button :report, "trial_balance", checked: 'checked' %>
  <%= form.label :report_trial_balance, "Trial Balance" %>
  <%= form.radio_button :report, "profit_loss" %>
  <%= form.label :report_profit_loss, "Profit and Loss" %>
  <%= form.radio_button :report, "balance_sheet" %>
  <%= form.label :report_balance_sheet, "Balance Sheet" %>
  <%= form.submit "Run Report" %>
<% end %>
<hr/>
<%= link_to "Accounts", accounts_path %>